org.glite.jp/project/JobProvenanceIS.wsdl

<WSDL:definitions
	xmlns:tns="http://glite.org/wsdl/services/jp"
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jp="http://glite.org/wsdl/types/jp"
	xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://glite.org/wsdl/services/jp"
	name="JobProvenanceIS">

	<import namespace="http://glite.org/wsdl/types/jp" location="JobProvenanceTypes.wsdl"/>

	<message name="GenericJPFault">
		<part name="fault" element="jp:GenericJPFault"/>
	</message>

	<message name="QueryJobsRequest">
		<part name="conditions" type="jp:IndexQuery"/>
	</message>

	<message name="QueryJobsResponse">
		<part name="jobs" type="jp:JobRecords"/>
	</message>
		
	<message name="UpdateJobsRequest">
		<part name="feedId" type="xsd:string"/>
		<part name="data" type="jp:UpdateJobsData"/>
		<part name="feedDone" type="xsd:boolean"/>
	</message>
	<message name="EmptyResponse"/>
	
	<portType name="JobProvenanceIS_PortType">
		<operation name="UpdateJobs">
			<documentation>Store or update information on jobs within the JP index server.
Called directly by the primary storage, used for both batch and incremental feed.

Input:

data: list of job record updates. Each contains jobid, list of JP attribute values and user tag values.

feedDone: flag indicating end of batch feed. (In order to avoid potential problems with buffer allocation
the huge dataset of batch feed is split into reasonable chunks and delivered with more UpdateJobs calls.)

Output: N/A

Faults: GenericJPFault


			</documentation>
			<input message="tns:UpdateJobsRequest"/>
			<output message="tns:EmptyResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="QueryJobs">
			<documentation>Retrieve pointers to job records of jobs matching a query.
Input: conditions - list of lists of query conditions.
	Elements of the inner lists refer to a single job attribute, the conditions are or-ed.
	Elements of the outer list may refer to different job attributes, they are and-ed.

Output:

jobs: list of JobId, PSContact (URL of the primary storage which manges this job) pairs

Faults: GenericJPFault
			</documentation>
			<input message="tns:QueryJobsRequest"/>
			<output message="tns:QueryJobsResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
	</portType>

	<binding name="JobProvenanceIS" type="tns:JobProvenanceIS_PortType">
		<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="UpdateJobs">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="QueryJobs">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="JobProvenanceIS">
		<documentation>Job Provenance Index service</documentation>
		<port name="JobProvenanceIS" binding="tns:JobProvenanceIS">
			<SOAP:address location="http://localhost:10001"/>
		</port>
	</service>
		

</WSDL:definitions>
