org.glite.jp.ws-interface/interface/JobProvenancePS.wsdl

<WSDL:definitions
	xmlns:tns="http://glite.org/wsdl/services/jp"
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jp="http://glite.org/wsdl/types/jp"
	xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://glite.org/wsdl/services/jp"
	name="JobProvenancePS">

	<import namespace="http://glite.org/wsdl/types/jp" location="JobProvenanceTypes.wsdl"/>

	<message name="RegisterJobRequest">
		<part name="job" type="xsd:string"/>
	</message>
	<message name="StartUploadRequest">
		<part name="job" type="xsd:string"/>
		<part name="class" type="xsd:string"/>
		<part name="name" type="xsd:string"/>
		<part name="commitBefore" type="xsd:dateTime"/>
		<part name="contentType" type="xsd:string"/>
	</message>
	<message name="StartUploadResponse">
		<part name="destination" type="xsd:string"/>
		<part name="commitBefore" type="xsd:dateTime"/>
	</message>
	<message name="CommitUploadRequest">
		<part name="destination" type="xsd:string"/>
	</message>
	<message name="RecordTagRequest">
		<part name="jobid" type="xsd:string"/>
		<part name="tag" type="jp:TagValue"/>
	</message>
	<message name="FeedIndexRequest">
		<part name="destination" type="xsd:string"/>
		<part name="attributes" type="jp:Attributes"/>
		<part name="conditions" type="jp:PrimaryQuery"/>
		<part name="history" type="xsd:boolean"/>
		<part name="continuous" type="xsd:boolean"/>
	</message>
	<message name="FeedIndexResponse">
		<part name="feedId" type="xsd:string"/>
		<part name="expires" type="xsd:dateTime"/>
	</message>
	<message name="FeedIndexRefreshRequest">
		<part name="feedId" type="xsd:string"/>
	</message>
	<message name="GetJobRequest">
		<part name="jobid" type="xsd:string"/>
	</message>
	<message name="GetJobResponse">
		<part name="files" type="jp:Files"/>
	</message>
	<message name="GenericJPFault">
		<part name="fault" element="jp:GenericJPFault"/>
	</message>
	<message name="EmptyResponse"/>
	<portType name="JobProvenancePS_PortType">
		<operation name="RegisterJob">
			<documentation>Register job with JP primary storage.
Job registration in LB is propagated to JP immediately so that JP is aware of the job,
despite no furhter information is available in it.

Input: JobId

Output: N/A

Faults: GenericJPFault
			</documentation>
			<input message="tns:RegisterJobRequest"/>
			<output message="tns:EmptyResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="StartUpload">
			<documentation>Initiate upload of of sandbox/dump of job life log from LB.
WM component responsible for job sandbox management and LB server call JP to declare
intention to upload intput/output sandbox and job life log.

Input:

uclass: type of the upload - INPUT_SANDBOX, OUTPUT_SANDBOX, JOB_LOG

commitTimeout: upper limit on time for which JP waits for committing this upload transaction

contentType: MIME type of the uploaded file

Output:

destination: URL where the client should upload the file

commitBefore: acutual time when the upload transaction times out

Faults: GenericJPFault


Initiate upload of of sandbox/dump of job life log from LB.</documentation>
			<input message="tns:StartUploadRequest"/>
			<output message="tns:StartUploadResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="CommitUpload">
			<documentation>Confirm upload.
Should be called after a file upload initiaded with StartUpload is finished.

Input:

destination: Upload destination URL (to match with the original request)

Output:

Faults: GenericJPFault
			</documentation>
			<input message="tns:CommitUploadRequest"/>
			<output message="tns:EmptyResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="RecordTag">
			<documentation>Record a value of user tag.
JP tags are either standalone or override values of their LB counterparts.
However, JP tag values are still distinguishable those inherited from LB.
JP tags may be either strings or blobs.

Input:

jobid:

tag: structure containing name, timestamp, optional sequence number to order tag values
without relying on timestamps, and string or blob value.

Output: N/A

Faults: GenericJPFault
			</documentation>
			<input message="tns:RecordTagRequest"/>
			<output message="tns:EmptyResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="FeedIndex">
			<documentation>Start feeding JP index server.
Called by the index server to start batch feed, and optionally also subscribe for incremental feed.

JP index server subscribes with JP primary storage using a query
containing conditions on primary metadata and a list of queryable attributes
of the index server (i.e. data which should be sent to the index server).

When a matching job record is created or modified within the primary storage
the job record data are sent to the subscribed index server.

The subscription is soft-state, it expires after certain time unless refreshed by the client explicitely.

In the batch mode the query has the same form
with additional flag asking for all matching records (i.e.\ not only
arriving afterwards).

Input:

destination: where to send the job record data

attributes: which job record attributes should be sent to the requesting index server

conditions: list of query conditions. Each conditions has the form Attribute Operator Value,
where Attribute is any of job record attributes and Operator is one of EQUAL, UNEQUAL, LESS, GREATER, WITHIN.

continuous: flag determining that the query is incremental (not batch) 

Output:

feedId: unique Id of the feed request, to be used in refresh, cancelation etc.

expires: when the feed times out. Must be refreshed before this time.

Faults: GenericJPFault
			</documentation>
			<input message="tns:FeedIndexRequest"/>
			<output message="tns:FeedIndexResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="FeedIndexRefresh">
			<documentation>Extend batch feed subscription (used by index server)

Input: feedId returned previously by FeedIndex

Output: the same as for FeedIndex

Faults: GenericJPFault
			</documentation>
			<input message="tns:FeedIndexRefreshRequest"/>
			<output message="tns:FeedIndexResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
		<operation name="GetJob">
			<documentation>Retrieve job record URL's when jobid is known
Used either to bypass JP index server query for this specific case, or after the index server query to
retrieve actual job record.

Input: jobid

Output:

jobLog, inputSandbox, outputSandbox, tags: URL's to components of the job record.

Faults: GenericJPFault
			</documentation>
			<input message="tns:GetJobRequest"/>
			<output message="tns:GetJobResponse"/>
			<fault name="f" message="tns:GenericJPFault"/>
		</operation>
	</portType>
	<binding name="JobProvenancePS" type="tns:JobProvenancePS_PortType">
		<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RegisterJob">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="StartUpload">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="CommitUpload">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="RecordTag">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="FeedIndex">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="FeedIndexRefresh">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
		<operation name="GetJob">
			<SOAP:operation style="rpc"/>
			<input>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://glite.org/wsdl/services/jp"/>
			</output>
			<fault name="f">
				<SOAP:fault name="f" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="JobProvenancePS">
		<documentation>Job Provenance Primary Storage service</documentation>
		<port name="JobProvenancePS" binding="tns:JobProvenancePS">
			<SOAP:address location="http://localhost:10001"/>
		</port>
	</service>
</WSDL:definitions>
